.password {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.password input {
  border: none;
  width: 100%;
}

.password input:focus,
select:focus {
  border-color: none;
  box-shadow: none;
}

 .eye-btn{
    cursor: pointer;
 }
